mixin header-shopping-item(data)

  include ../button/button

  tr.header-shopping-item
    td.header-shopping-item__image
      a.header-shopping-item__link(href=data.url)
        img(src=data.image alt=data.title)
        .header-shopping-item__count #{data.count}
    th.header-shopping-item__content
      a.header-shopping-item__title(href=data.url) #{data.title}
      span.header-shopping-item__price #{data.price}
      span.header-shopping-item__currency #{data.currency}
    td.header-shopping-item__remove
      form(method="post" action="order")
        input.header-shopping-item__key(type="hidden" name="key" value="498f8886ce6dc728be9293ad5fd70312")
        +button({ mods: { type: 'submit' }, val: 'cart/remove', title: 'Удалить', name: 'ms2_action' })(class='header-shopping-item__remove-button') &times;